In [16]:
import pandas as pd

train = pd.read_csv('preprocessed/train_df.csv')
train_natane = pd.read_csv('preprocessed/train_df_netane.csv')

In [25]:
# compare the data of the two dataframes
train_natane.head()

,list_price,price_reduced_amount,description.year_built,description.baths_3qtr,description.sold_price,description.baths_full,description.baths_half,description.lot_sqft,description.sqft,description.baths,...,recreation_facilities,shopping,washer_dryer,basement,view,forced_air,family_room,dining_room,city_mean_price,state_mean_price
0,415000.0,10000.0,2020,0.0,415000.0,2.0,1.0,1307.0,1518.0,3.0,...,1,0,0,0,1,1,0,0,522403.574850,522403.574850
1,320000.0,0.0,1978,0.0,320000.0,1.0,1.0,3920.0,1431.0,2.0,...,0,0,1,1,0,1,0,0,428299.358974,429089.714286
2,300000.0,0.0,1983,0.0,287000.0,1.0,0.0,1133.0,1111.0,1.0,...,1,1,0,0,0,0,1,0,695772.727273,538346.764706
3,80000.0,0.0,1836,0.0,100000.0,1.0,0.0,1019.0,1240.0,1.0,...,0,0,0,1,0,1,0,0,204580.645161,260858.895706
4,589999.0,9901.0,2013,0.0,580000.0,3.0,1.0,2312.0,2980.0,4.0,...,0,0,1,1,0,0,1,0,740137.076023,740137.076023

In [26]:
train.head()

,list_price,price_reduced_amount,description.year_built,description.baths_3qtr,description.sold_price,description.baths_full,description.baths_half,description.lot_sqft,description.sqft,description.baths,...,family_room,central_heat,laundry_room,recreation_facilities,view,community_outdoor_space,city_view,community_security_features,city_mean_price,state_mean_price
0,555000.0,0.0,1983,0.0,555000.0,2.0,0.0,5850.0,1272.0,2.0,...,0,0,0,0,0,0,0,0,7.631022e+05,763102.242424
1,0.0,0.0,1950,0.0,1550000.0,2.0,0.0,16988.0,2499.0,2.0,...,0,0,0,0,0,0,0,0,1.060152e+06,956001.694915
2,420000.0,15500.0,1989,0.0,310000.0,3.0,0.0,22651.0,3137.0,3.0,...,0,1,1,1,0,1,1,1,1.920031e+05,192003.051429
3,349900.0,0.0,1965,0.0,376500.0,2.0,1.0,20835.0,2416.0,3.0,...,0,0,1,0,0,1,0,0,4.658696e+05,407850.244048
4,410000.0,6900.0,1960,0.0,371000.0,1.0,1.0,7841.0,1472.0,2.0,...,1,0,0,0,0,1,0,0,4.314373e+05,431437.295181

In [20]:
train.columns

Index(['list_price', 'price_reduced_amount', 'description.year_built',
       'description.baths_3qtr', 'description.sold_price',
       'description.baths_full', 'description.baths_half',
       'description.lot_sqft', 'description.sqft', 'description.baths',
       'description.sub_type', 'description.garage', 'description.stories',
       'description.beds', 'description.type',
       'lead_attributes.show_contact_an_agent', 'location.address.postal_code',
       'location.address.state_code', 'central_air', 'dishwasher', 'fireplace',
       'forced_air', 'hardwood_floors', 'washer_dryer', 'basement',
       'single_story', 'garage_1_or_more', 'garage_2_or_more', 'dining_room',
       'two_or_more_stories', 'shopping', 'family_room', 'central_heat',
       'laundry_room', 'recreation_facilities', 'view',
       'community_outdoor_space', 'city_view', 'community_security_features',
       'city_mean_price', 'state_mean_price'],
      dtype='object')